<div class="container full-bleed">
  <div class="row site-footer">
    <footer>

    <div class="col-md-6">
      <span class="pull-left">
        <a style="color:black;" href="https://twitter.com/gndclouds">@gndclouds</a>
      </span>
    </div>
    <div class="col-md-6 pull-right">
      <span class="pull-right">
        <a href='https://webring.xxiivv.com/#random' target='_blank'><img src='https://webring.xxiivv.com/icon.black.svg' style="max-width:2vw;"/></a>
      </span>
    </div>
    </footer>
  </div>
</div>
